h6 {
    color: #3C3A32;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.nav-item {
    color: #3C3A32;
    font-weight: 400;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}